{
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "printWidth": 120,
  "proseWrap": "always",
  "requirePragma": false,
  "insertPragma": false
}
